<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lk.nfuse.tapswitch" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_tapswitch"
        android:label="@string/app_name"
        android:logo="@drawable/double_tap"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ChargerConnected" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BootCompleted"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="Preferences" />

        <service
            android:name=".SUOnBootService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".AboutActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".RunCommandService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
